.nav-custom-bar{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#busca-nome-receita{
    display: flex;
}

#campo-busca-receita{
    width: 250px;
    height: 30px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding-left: 6px;
}

#btn-busca-receita{
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid #707070;
    border-radius: 8px;
    background-color: #95E03D;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#icone-slide{
    width: 50px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 30px;
    color: deeppink;

}

.container-tags-busca{
    margin-top: 10px;
    width: 100%;
}

.tags{
    display: flex;
    justify-content: center;
}

.tags > div{
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca-tags-ingredientes{
    outline: none;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#container-tags{
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}


