.nav-custom-bar{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-custom-bar > form{
    display: flex;
    margin: 10px;
}

.nav-custom-bar > div {
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap
}

.container-autocomple-tags{
    display: flex;
    padding: 10px;
}

.tags{
    width: 50%;
    display: flex;
    justify-content: center;
}

.tags > div{
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 80%;
    padding: 10px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.busca-tags{
    outline: none;
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    background-color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#container-tags{
    display: flex;
    justify-content: flex-start;
    overflow-y: scroll;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
}