.tag{
    text-align: justify;
    padding: 5px 8px 5px 8px;
    line-height: normal;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    margin: 4px;
    height: 28px;
    
}

::-webkit-scrollbar {
    width: 6px;
}
 

 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddd;
}